:root {
    --background-color-large: rgba(128, 128, 128, 0.6);
}

.container {
    flex-direction: row;
    align-items: flex-start;
}

.background-image {
    flex: 1;
}

.info-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    height: 100%;
    top: 0;
    left: 0;
}

.data-container, .weather-container {
    background-color: var(--background-color-large);
    padding: 15px;
    max-width: 300px;
}
 
.data-container {
    margin-left: -75%;
    margin-top: 10%;
}

.weather-container {
margin-right: -75%;
}