/* General styles */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo */
}

.container {
    position: relative;
    width: 100%;
    height: 100vh; /* La imagen ocupa toda la pantalla */
    overflow: hidden; /* Para que la imagen no se desborde */
}

img {
    width: 100%;
    height: 100%; /* La imagen ocupa toda la altura del contenedor */
    object-fit: cover; /* Escalar la imagen para que llene el contenedor manteniendo su relación de aspecto */
    display: block;
}

.data-container,
.weather-container {
    position: absolute;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    box-sizing: border-box;
}

.data-container {
    top: 0;
    left: 0;
}

.weather-container {
    bottom: 0;
    right: 0;
}

h1, h2, h3 {
    text-align: center;
    background-color: rgb(34, 143, 220); /* Color de fondo de los encabezados */
    color: #000; /* Color del texto de los encabezados */
    margin: 0;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: rgb(34, 143, 220); /* Color de fondo del pie de página */
    color: white; /* Color del texto del pie de página */
    text-align: center;
    padding: 10px 0;
}

.footer-container {
    border-top: 5px solid white;
    border-bottom: 5px solid #001f3f;
}
