nav {
    display: flex; /* Show in larger view */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.weather-container h3::after {
    content: "⛅";
    font-size: 24px;
    margin-left: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
