.container {
    position: relative;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.data-container {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: fit-content;
    padding: 20px;
}

.weather-container {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: fit-content;
    margin-left: 85%;
    margin-bottom: 10%;
    padding: 20px;
}


h2, h3 {
    background-color: rgb(34, 143, 220); /* Background color for headings */
    text-align: center;
    padding: 10px;
    margin: 0;
}

h1 {
    background-color: rgb(34, 143, 220); 
    color: hsl(0, 0%, 0%); 
    text-align: center;
    width:100%;
    padding: 10px;
    margin: 0;
}

/* Lists */
ul {
    list-style: none;
    padding: 0;
}

/* Footer */
footer {
    background-color: rgb(34, 143, 220); 
    color: white; 
    text-align: center;
    padding: 10px 0;
}


.footer-container {
    border-top: 5px solid white;
    border-bottom: 5px solid #001f3f;
}

/* Specific styles for desktop view */
@media (min-width: 768px) {
    .weather-icon {
        display: none; /* Hide weather icon in desktop view */
    }

    .weather-text {
        display: inline; /* Show weather text in desktop view */
    }
}
